<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #48544b; height: 8vh;">
    <a href="navbar-brand" style="color: white" href="#">NMDb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="details">Movie Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="collection">Movie Collection</a>
            </li>
        </ul>
    </div>
</nav>

<form class="form-inline my-2 my-lg-0" style="justify-content: center;
padding-top: 25vh;" [routerLink]="['/']">
    <div class="input-group w-75 p-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="search"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn btn-warning my2-my-sm-0" type="button">Search</button>
    </div>
</form>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>