<div class="col-12 bg">
    <form action="#" class="form-inline my-2 my-lg-0" style="justify-content: center; height: 50vh" [routerLink]="[ '/']">
        <div class="input-group w-25 p-3">
            <input id="txtSearchText" type="text" placeholder="Search Movie..." class="form-control" style="border-radius: 7vh;" name="SearchText" [(ngModel)]="searchText">
            <button for="textSearchText" class="input-group-append btn-warning my2-my-sm-0" style="display: none ;" type="submit" (click)="onSearchClick()">Search</button>
        </div>
    </form>
    <div class=" row justify-content-start"></div>
</div>
<hr />
<div class="card-group" style="justify-content: center;">
    <div *ngFor=" let m of movies$ | async; let i=index ">
        <div class="card" style="margin: 5px">
            <div class="card-body">
                <a [routerLink]="['/details/movie/',m.id]" [state]="m.title" ><img src='https://image.tmdb.org/t/p/w300/{{m.poster_path}}'></a>
                <div class=" card-footer text-center text-light " style=" background-color: #48544b; ">
                    <!-- favbutton -->
                    <i class="heart fa fa-heart" style="font-size: 20px;" (click)="addToFavorite(m.id)"></i>
                    <p>{{m.title}}</p>
                    <i class=" fas fa-star "></i><i class=" fas fa-star-half-alt "> {{m.vote_average}}</i>
                </div>
            </div>
        </div>
    </div>
</div>