.bg {
    /* The image used */
    background-image: url("../../assets/home-back.jpg");
    /* Half height */
    opacity: 0.9;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}