body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://image.tmdb.org/t/p/w780/4eGoeIziBMxs60Y1mViz6nSjpPt.jpg");
    /* Half height */
    height: 50%;
    opacity: 0.7;
    z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-group .card .card-body img:hover {
    transform: rotate();
}